* {
  box-sizing: border-box;
}

body {
  background:linear-gradient(90deg,#C71704,#5010c7);
  margin: 0;
  padding: 0;
}

/*navigation*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #7200B3, #360054);
  color: white;
  position: sticky;
  top: 0;
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
  font-family: arial;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  display: block;
  font-family: arial;
}

.navbar-links li:hover {
  background-color: #1C012C;
}

.isActive {
  background-color :#1C012C;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .nonActive {
    display: none;
  }
  
  .isActive {
    background-color :#1C012C;
  }
  
  .navbar-links li:hover {
    background-color: #1C012C;
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
    font-family: arial;
  }

  .navbar-links.active {
    display: flex;
  }

}

/*banner*/
h1 {
  color: white;
  font-size: 425%;
  text-align: center;
  margin-top: auto;
  font-family: MuseoModerno;
}

/*2 columns in full screen*/
p {
  column-count: 2;
  text-align: left;
}

/*section*/
section {
  border: 4px solid black;
  width: initial;
  background: linear-gradient(-45deg, #32004F,  #7300B5);
  margin: auto;
  padding: 20px;
}

/*footer*/
footer {
  width: initial;
  background:  #1F10A1;
  padding: 20px;
  color: white;
  font-family: arial;
}

/*reference*/
footer li a {
  color: white;
}

/*parrallax images*/
#image1 {
  background-image: url(../images/image4.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed; 
}

#image2 {
  background-image: url(../images/image5.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed;
}

#image3 {
  background-image: url(../images/image6.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: fixed;
}

/*section headers*/
section h2 {
  padding-top: 1px;
  text-align: center;
  color: white;
  font-family: arial;
}

/*section paragraphs*/
section p {
  color: white;
  font-family: arial;
  padding-left: 3%;
  padding-right: 3%;
}


/*dont display banner in about section*/
section h1 {
   display: none;
}

